---
const companies = await Astro.glob("../../content/profile/companies/*.md");
---

<>
  <div class="flex flex-wrap justify-center">
    <article
      class="prose prose-pink prose-headings:font-bold lg:text-xl lg:leading-relaxed"
    >
      {
        companies.map(({ Content }) => (
          <>
            <div class="border-t border-gray-400" />
            <Content />
            <div class="border-t border-gray-400" />
          </>
        ))
      }
    </article>
  </div>
</>
