---
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";
import Company from "./company.astro";
import "../../styles/tailwind.css";

import { getEntry } from "astro:content";

const profile = await getEntry("profile", "intro");
const { Content } = await profile.render();
---

<html lang="en" class="h-full">
  <Header />
  <body class="h-full">
    <div class="items-center justify-center bg-emerald-50">
      <main class="relative min-h-almost py-8">
        <section>
          <div class="flex flex-wrap justify-center">
            <img
              class="h-auto w-2/6 rounded-full xl:w-1/5"
              alt="Uses"
              src="https://res.cloudinary.com/dcrbjmmo4/image/upload/c_fill,h_300,w_300/v1707230660/Rakesh_Arun__slack.jpg"
            />
            <div class="ml-4">
              <h1
                class="mt-2 mb-4 text-center font-bold text-2xl text-teal-700 lg:text-4xl"
              >
                {profile.data.title}
              </h1>
              <article
                class="prose prose-pink prose-headings:font-bold lg:text-2xl lg:leading-relaxed pb-4"
              >
                <Content />
              </article>
            </div>
          </div>
          <div class="flex flex-wrap justify-center">
            <!-- <Company /> -->
          </div>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
