<nav
  class="navbar navbar-expand-lg relative flex w-full items-center justify-between border-b-2 bg-gray-50 py-2 shadow-md"
>
  <div class="flex w-full flex-wrap items-center justify-between px-6">
    <div class="flex items-center">
      <a class="navbar-brand text-red-600" href="#!">
        <svg
          class="ml-2 mr-2 h-5 w-5 lg:ml-0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
        >
          <path
            fill="currentColor"
            d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"
          ></path>
        </svg>
      </a>
    </div>
    <div class="navbar-collapse grow items-center" id="navbarSupportedContentY">
      <ul class="navbar-nav mr-auto lg:flex lg:flex-row">
        <li class="nav-item">
          <a href="/" class="bg-gray-500 font-bold text-gray-700">
            <span
              class="nav-link block py-2 pr-2 text-gray-600 transition duration-150 ease-in-out hover:text-gray-700 focus:text-gray-700 lg:px-2"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
            >
              Home
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/uses" class="bg-gray-500 font-bold text-gray-700">
            <span
              class="nav-link block py-2 pr-2 text-gray-600 transition duration-150 ease-in-out hover:text-gray-700 focus:text-gray-700 lg:px-2"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
            >
              Uses
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/shorts" class="bg-gray-500 font-bold text-gray-700">
            <span
              class="nav-link block py-2 pr-2 text-gray-600 transition duration-150 ease-in-out hover:text-gray-700 focus:text-gray-700 lg:px-2"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
            >
              Shorts
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/posts" class="bg-gray-500 font-bold text-gray-700">
            <span
              class="nav-link block py-2 pr-2 text-gray-600 transition duration-150 ease-in-out hover:text-gray-700 focus:text-gray-700 lg:px-2"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
            >
              Posts
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
