<nav
  class="navbar navbar-expand-lg relative flex w-full items-center justify-between border-b-2 bg-gray-50 py-2 shadow-md"
>
  <div class="flex w-full flex-wrap items-center justify-between px-6"></div>
</nav>
